<!-- This file builds the displayed page.  It calls index.handlebars and inserts it in the body below -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="shortcut icon" href="public/assets/img/burger.png" />
		<title>Eat Da Burger!</title>
		<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
